h2{
   color: blue;
   font-weight: normal;
   line-height: 40px;
   margin: 0 0 20px ;
}

h2{ font-size: 30px; }


body{
    font-family: arial; 
    font-size: 13px; 
    line-height: 17px; 
    width: 1350px; 
    margin: 0; 
    background: blue;
}

#page{ margin: 20px; }


#logo{
	width: 2px;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
}

#nav{
	width: 500px;
	display: inline-block;
	text-align: right;
	float: right;
        
}
	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 62px;
		}
			#nav ul li a{
				padding: 18px;
				background: #f0f7fd;
				color: black;
                                font-weight: bold;
                                text-transform: uppercase;
                                font-size: 11.5px;
                                
			}
			#nav ul li a:hover{
				background-color: blue;
                                
				
			}
	#nav ul li a:active{ background-color: #f0f7fd; }
        
        

#img>pre{
    font-weight: bold;
    font-style: italic;
    color: black;
    font-size: 40px;
    position: relative;
    top: -250px;
    left: 800px;
}

#content{
	margin: 30px 0;
	background: #f0f7fd;
	padding: 20px;
	clear: both;
        
}

#content>p{
    color:black;
}

#content>h3{
    font-size: 17px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    padding: 0px 50px;
    text-align:center;
    text-transform: uppercase;
    
}
#content>ul>li{
    color:black;
}

#img1{
    background-image: url('images/aboutus.jpg');
    width: 320px;
    height: 200px;
    
}
#img1>p{
    font-style: italic;
    color: black;
    font-size: 17px;
    position: relative;
    left: 350px;
    top:1px;
    width: 870px;
}

#content1{
	margin: 30px 0;
	background: #f0f7fd;
	padding: 20px;
	clear: both;
       
}

#content1>p{
    color:black; 
}

#content1>h3{
    font-size: 17px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    padding: 0px 50px;
    text-align:center;
    text-transform: uppercase;
    
}
#content1>ul>li{
    color:black;
}

#img2{
    background-image: url('images/towing.jpg');
    width: 400px;
    height: 300px;
    margin-left: 30px;
    margin-top:-300px;
        
}
#imga{
    background-image: url('images/towing1.jpg');
    width: 920px;
    height: 385px;
    position:absolute;
    top:600px;
    left:210px;     
}

#imgb{
    background-image: url('images/towing2.jpg');
    width: 400px;
    height: 290px;
    margin-left:870px;
    margin-top:-310px;
}

#content2{
	margin: 30px 0;
	background: #f0f7fd;
	padding: 20px;
	clear: both;
        height:830px;
}
#content2>p{
    color:black;
    width:400px;
    text-align:center;
    margin-left:450px;
    
}

#img3{
    background-image: url('images/workshop.jpg');
    width: 950px;
    height: 380px;
    margin-left: 170px;
    margin-top:-15px;
        
}

#content3{
	margin: 30px 0;
	background: #f0f7fd;
	padding: 20px;
	clear: both;
}
#content3>p{
    color:black;
}

#img4{
    background-image: url('images/map.png');
    width: 357px;
    height: 210px;
    position:absolute;
    top:490px;
    right:950px;
    border: solid grey 3px;
    border-radius: 20px;  
}

#content4{
	margin: 30px 0;
	background: #f0f7fd;
	padding: 20px;
	clear: both;
        height:565px;
}
#content4>p{
    color:black;
    font-style: italic;
    text-align:left;
    font-size:20px;
    margin-bottom:100px;
    
}
#content5>h1{
    color:black;
    position:absolute;
    right:550px;
    top:180px;   
}
#content5>p{
    color:black;
    position:absolute;
    right:500px;
    top:250px;
    
    
}

#footer{
	border-bottom: 1px solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 10px;
		color: white;
	}



.wordname{
    color: blue;
    text-decoration: none;
    background-color: silver;
    border-radius: 10px;
    padding: 0px 50px;
    text-transform: uppercase;
}

.word>p{
    text-align: center;
    
}

.word{
    display: inline-block;
    border: solid blue 3.5px;
    border-radius: 20px;
    background-color: #f0f7fd;
    padding: 20px 50px 10px;
    margin: 0px 67px 10px;
}

.word p a {
    font-size: 13.5px;

}

